</main>

<footer class="text-center mt-5 p-3 bg-dark text-white">
  &copy; <%= new Date().getFullYear() %> Hashim Khan. All rights reserved.
  <br>

  <!-- GitHub Link -->
  <a href="https://github.com/Hashbit1" class="text-white me-3" target="_blank">
    <i class="fa-brands fa-github"></i> GitHub
  </a>

  <!-- LinkedIn Link -->
  <a href="https://www.linkedin.com/in/hashim-khan-22b892397/" class="text-white" target="_blank">
    <i class="fa-brands fa-linkedin"></i> LinkedIn
  </a>
</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>

