<%- include('partials/header') %>

<h1 class="text-center text-primary mb-4">About Me</h1>

<div class="container text-center">
  <p>
    Hi, I'm <strong>Hashim Khan</strong>, a Networking and IT Security student at
    <strong>Ontario Tech University</strong>. I've always been curious about technology and cybersecurity as 
    its one of the only fields that grows drastically. I love this field as its always finding new ways to solve 
    technical problems. Each new challenge gives me further opportunity to better my skills, whether through practical 
    projects or learning new tools. My ultimate goal is to continue growing and become a future IT professional
     who can make a difference in the world of technology.
  </p>

  <img src="/images/Me.jpg" alt="Hashim Khan"
  class="img-fluid my-3 shadow-lg"
     style="max-width: 400px; height: auto; border-radius: 10px;">

  <p>
    This portfolio shows my web development and programming projects,
    including assignments and labs from my courses.
  </p>
</div>

<%- include('partials/footer') %>
