/* -- The Global Page Styleing -- */
body {
  background: linear-gradient(180deg, #2179d1, #060101);
  padding: 50px;
  font-family: "Poppins", "Lucida Grande", Calibri, Arial, sans-serif;
  color: #111;
  min-height: 100vh;
}

/* -- The Header Styles -- */
h1, h2, h3, h4, h5, h6 {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #111;
  margin-bottom: 20px;
}

/* -- The Hero Section -- */
.hero {
  background: linear-gradient(135deg, #007bff, #9c0202);
  color: white;
  padding: 100px 0;
  text-align: center;
  border-radius: 12px;
  margin-bottom: 40px;
}

.hero h1 {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.hero p {
  font-size: 1.25rem;
  max-width: 700px;
  margin: 0 auto;
}
/* -- The Link Styles -- */
a {
  color: #2179d1;
  text-decoration: none;
}

a:hover {
  color: #ff6600;
  text-decoration: underline;
}

.btn-primary {
  background-color: #2179d1;
  border: none;
  transition: 0.3s;
}

.btn-primary:hover {
  background-color: #0056b3;
}

/* -- The Projects Page Cards-- */
.card {
  border: none;;
  border-radius: 10px;
 overflow: hidden;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.card:hover {
  transform: scale(1.03);
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
}

.card-title {
  color: #0d6efd;
  font-weight: bold;
}

.card-text {
  color: #333;
}

/* -- The Footer Styles -- */
footer {
  text-align: center;
  margin-top: 50px;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #ddd;
  border-radius: 10px;
}
